In [1]:
import pandas as pd
import numpy as np

In [2]:
trainDF = pd.read_csv('./quora_dataset/train.csv')
testDF = pd.read_csv('./quora_dataset/test.csv')

In [3]:
# Shape of dataframe
print('Training data:')
print(f'Rows: {trainDF.shape[0]} Columns: {trainDF.shape[1]}')
print('Test data:')
print(f'Rows: {testDF.shape[0]} Columns: {testDF.shape[1]}')

Training data:
Rows: 1306122 Columns: 3
Test data:
Rows: 375806 Columns: 2

In [4]:
# Checking for null values in training data
print('Checking for null values in training data:')
trainDF.isna().sum()

Checking for null values in training data:

qid              0
question_text    0
target           0
dtype: int64

In [5]:
# Checking for null values in test data
print('Checking for null values in training data:')
testDF.isna().sum()

Checking for null values in training data:

qid              0
question_text    0
dtype: int64

There is no null values in any of the dataframe

In [6]:
trainDF.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [7]:
testDF.head()

                    qid                                      question_text
0  0000163e3ea7c7a74cd7  Why do so many women become so rude and arroga...
1  00002bd4fb5d505b9161  When should I apply for RV college of engineer...
2  00007756b4a147d2b0b3  What is it really like to be a nurse practitio...
3  000086e4b7e1c7146103                             Who are entrepreneurs?
4  0000c4c3fbe8785a3090   Is education really making good people nowadays?

In [8]:
# Cleaning of data
def text_formatting(dataframe):
#   Data converts to the lowercase
    dataframe['question_text'] = dataframe['question_text'].str.lower()
    return dataframe

In [9]:
trainDFClean = text_formatting(trainDF)

In [10]:
tester = trainDFClean[0:5]

In [11]:
tester

,qid,question_text,target
0,00002165364db923c7e6,how did quebec nationalists see their province...,0
1,000032939017120e6e44,"do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,why does velocity affect time? does velocity a...,0
3,000042bf85aa498cd78e,how did otto von guericke used the magdeburg h...,0
4,0000455dfa3e01eae3af,can i convert montra helicon d to a mountain b...,0

In [12]:
getter = 0
for index, qid, text, target in trainDFClean.itertuples():
    if(text[-1]=='?'):
        getter = getter + 1

In [13]:
getter

1276953

In [119]:
import spacy
nlp = spacy.load('en_core_web_lg')

In [19]:
# Remove stop words 
a = trainDFClean.question_text[0] + trainDFClean.question_text[1]

In [158]:
doc = nlp(a)

In [108]:
from nltk.tokenize import word_tokenize
a = trainDFClean.question_text[0] + trainDFClean.question_text[1]

In [111]:
tester = word_tokenize(a)

In [45]:
doc = nlp(a)
doc countStopWords(dataframe):
    count = 0
    for index
count = 0
for x in doc:
    if x.is_stop == True:
        count = count + 1

# We are removing stop words to make vocabulary
# Stop words: These are the words with no meaning.
# Example: a, an, the, is and many such words.

In [154]:
import numpy
from spacy.attrs import LOWER, POS, ENT_TYPE, IS_ALPHA
from spacy.tokens import Doc

In [132]:
words = ["Hello", "there", "?"]

In [162]:
doc

how did quebec nationalists see their province as a nation in the 1960s?do you have an adopted dog, how would you encourage people to adopt and not shop?

In [196]:
np_array = doc.to_array([LOWER, POS, ENT_TYPE, IS_ALPHA])
np_array_2 = numpy.delete(np_array, 3, axis = 0)
doc2 = Doc(doc.vocab, words=[t.text for i, t in enumerate(doc) if i!=3])
doc2.from_array([LOWER, POS, ENT_TYPE, IS_ALPHA], np_array_2)

how did quebec see their province as a nation in the 1960s?do you have an adopted dog , how would you encourage people to adopt and not shop ?

In [197]:
nlp.vocab['did'].is_stop

True

In [198]:
questionTexts = trainDFClean.question_text

In [ ]:
def removeStopWords(pandasSeries):

In [232]:
np_array = doc.to_array([LOWER, POS, ENT_TYPE, IS_ALPHA])
tempIndex = []
for x in enumerate(reversed(doc)):
    if(x[1].is_stop):
#         tempIndex.append(x[0])
        np_array2 = numpy.delete(np_array, x[0], axis=0)


# doc2 = Doc(doc.vocab, words=[t.text for i, t in enumerate(doc) if i!=])

In [233]:
len(np_array2)

29

In [234]:
a = [1,2,3,4,5,6,7,8,9]

In [235]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [240]:
toRemove = [5,6,7]
for i in a: